.follow_me {
    width: 185px;
    height: 77px;
    background-color: purple;
    padding: 20px 0 0 57px;
    color: white;
    border-radius: 5px;
    // margin-top: 30px;
    margin: 0 auto;
    order: 3;
    margin-bottom: 20px;
}

.svg {
    padding: 20px 12px 0 5px;
}

.header {
    padding-bottom: 10px;
    font-size: 20px;
}