.footer {
    background-color: black;
    color: white;
    font-size: 15px;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}

.my_portfolio {
    text-decoration: none;
    padding: 5px;
}

.svg {
    padding: 5px;
}