.header {
    padding: 30px 40px;
    text-align: right;
    background-color: black;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.link:hover {
    color: lightskyblue;
}