.header {
    padding: 30px 50px;
    text-align: right;
    background-color: darkcyan;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 0 5px;
}

.link:hover {
    color: cornsilk;
}

.my_name_desktop {
    color: white;
    position: absolute;
    font-size: 30px;
}

/*
    Mobile Web Style
*/
.mobileHeader {
    .link {
        display: flex;
        padding: 10px 0;
        font-size: 25px;
    }

    .my_name {
        position: absolute;
        top: 35px;
        left: 20px;
    }
}

