.container {
    width: 185px;
    height: 77px;
    background-color: purple;
    padding: 20px 0 0 57px;
    color: white;
    border-radius: 5px;
}

.svg {
    padding: 20px 12px 0 5px;
}

.header {
    padding-bottom: 10px;
    font-size: 20px;
}

/* Desktop Style */
@media only screen and (min-width: 601px) {
    .container {
        position: absolute;
        bottom: 80px;
    }
}

/* Mobile Web Style */
@media only screen and (max-width: 600px) {
    .container {
        margin: 25px auto;
        margin-bottom: 20px;
        order: 3;
    }
}