.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    order: 1;
    margin: 0 auto;
}

.text {
    display: inline-block;
    background-color: lightblue;
    border-radius: 6px;
}

.content {
    display: flex;
}

/* Mobile Web Style */
@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .link {
        order: 4;
        color: blue;
        font-size: 20px;
        margin: 10px auto;
        justify-content: center;
        display: flex;
    }
    .text {
        margin: 20px;
        padding: 25px;
        order: 2;
        p {
            line-height: 30px;
    
        }
    }
    .header {
        // margin-bottom: 0;
        margin: 20px auto;
        text-align: center;
    }
}

/* Desktop Style */
@media only screen and (min-width: 601px) {
    .container {
        padding: 0 20px;
        width: 1000px;
        margin: 0 auto;
    }

    .text {
        width: 450px;
        min-width: 450px;
        order: 1;
        padding: 100px;
        height: 400px;
        order: 1;
        position: relative;
        font-size: 18px;
        p {
            line-height: 35px;
    
        }

    }
    .avatar {
        width: 250px;
        height: 250px;
        margin: 185px auto;
    }
}