.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    order: 1;
    margin: 0 auto;
}

.text {
    display: inline-block;
    line-height: 25px;
}

.content {
    display: flex;
}

/* Mobile Web Style */
@media only screen and (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .link {
        order: 4;
        color: blue;
        font-size: 20px;
        margin: 10px auto;
        justify-content: center;
        display: flex;
    }
    .text {
        margin: 40px;
        order: 2;
    }
    .header {
        // margin-bottom: 0;
        margin: 20px auto;
        text-align: center;
    }
}

/* Desktop Style */
@media only screen and (min-width: 601px) {
    .container {
        padding: 0 20px;
    }

    .text {
        width: 700px;
        min-width: 700px;
        order: 1;
        padding-right: 60px;
        padding-bottom: 30px;
        padding-top: 30px;
        order: 1;

    }
    .avatar {
        width: 250px;
        height: 250px;
    }
}